[submodule "external/vsi_common"]
	path = external/vsi_common
	url = ../../VisionSystemsInc/vsi_common.git
[submodule "external/vxl"]
	path = external/vxl
	url = ../../vxl/vxl.git
[submodule "external/pyvxl"]
	path = external/pyvxl
	url = ../../VisionSystemsInc/pyvxl.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = ../../pybind/pybind11.git
