version: "3.7"

services:
  redis:
    image:
      ${TERRA_DOCKER_REPO}:redis_${TERRA_USERNAME}
    build:
      context: .
      dockerfile: docker/redis.Dockerfile
    environment:
      - DOCKER_UID=${TERRA_UID}
      - DOCKER_GIDS=${TERRA_GIDS}
      - DOCKER_GROUP_NAMES=${TERRA_GROUP_NAMES}
      - DOCKER_USERNAME=user
      - JUSTFILE=${TERRA_TERRA_DIR_DOCKER}/docker/redis.Justfile
      - TZ
    volumes:
      # # vsi_common
      # - type: ${TERRA_TERRA_DIR_TYPE}
      #   source: ${TERRA_TERRA_DIR}/external/vsi_common
      #   target: /vsi
      #   read_only: true
      - type: ${TERRA_REDIS_DIR_TYPE}
        source: ${TERRA_REDIS_DIR}
        target: ${TERRA_REDIS_DIR_DOCKER}
    ports:
      - "${TERRA_REDIS_PORT}:${TERRA_REDIS_PORT_DOCKER}"
    secrets:
      - source: redis_secret
        target: ${TERRA_REDIS_SECRET_DOCKER}
    networks:
      default:
        aliases:
          - ${TERRA_REDIS_HOSTNAME_DOCKER}

secrets:
  redis_secret:
    file: ${TERRA_REDIS_SECRET_FILE}

volumes:
  terra-redis:
