[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"
# python_version = "3.6,3.7,3.8"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
ipykernel = "*"
coverage = "*"
pyinstaller = "*"
# pyinstaller dependencies: not picked up my pipenv
pefile = {version = ">= 2017.8.1", markers = "sys_platform == 'win32'"}
pywin32-ctypes = {version = ">= 0.2.0", markers = "sys_platform == 'win32'"}
macholib = {version = ">= 1.8", markers = "sys_platform == 'darwin'"}

[packages]
vsi-common = {editable = true,path = "./external/vsi_common"}

terra = {path = ".", extras = ["celery"], editable = true}
# The Extras don't work on this editable, so manually copy the extra part
celery = {extras = ["redis"]}
flower = "*"
